*{
  margin:0px;
  padding: 0px;
}
p{
  display: inline-block;
}
a{
  text-decoration: none;
  color: white;
}
a:visited,a:focus,a:active{
  text-decoration: none;
  color: white;
}

/*NAVBAR*/
nav{
  height: 120px;
  background-color: white;
  z-index: 1;
  box-shadow: 0px 2px 5px #888888;
}
li{
  margin-top: 25px;
  text-transform: uppercase;
  color: #A0A09F;
  transition: color 1s;
  font-size: 14px;
  line-height: 18px;
}
li:hover{
  color: black;
  cursor: pointer;
}
.mainTitle{
  margin-top: 15px;

}

.mainTitle p{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  vertical-align: baseline;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}
.mainTitle h1{
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-20%);
  font-family: 'Libre Baskerville', serif;
  margin-top: 0px;
}
.line{
  position: absolute;
  top:0px;
  width: 120px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 9px solid rgba(0, 0, 0, 1);
}
div p{
  font-size: 14px;
}

/*BIG IMAGE*/
#image{
  width: 100%;
  height: 95vh;
  z-index: -1
}

.bigImg  {
  display: block;
  padding: 0px;
  width: 100%;
  height: 95vh;
  background-image: url('https://static.pexels.com/photos/226243/pexels-photo-226243.jpeg');
  background-size: cover;
  filter: blur(2px);
  margin-bottom: 5px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

/*PHOTOs*/
#photos{
  height: 200vh;
  width: 100%;
  background-color: white;
}
#photos div {
  margin: 4px;
  margin-left: 0px;
  margin-right:0px;
  margin-top: 0px;
  padding: 5px;
  padding-top: 5px;
  padding-bottom: 0px;
}
#photos div div {
  margin-top: 0px;
}
#photos .row{
  margin: 0px;
  padding: 0px;
}

.photo{
  padding: 0px;
  width: 100%;
  height: 40vh;
  background-size: cover;
  padding: 0px;
  box-shadow: 3px 2px 4px #888888;

}

#radu{
  background-image: url("../images/radu.jpg");
}
#george{
  background-image: url("../images/george.jpg");
}

#capsuna{
  background-image: url('../images/capsuna.jpg');
}

#radu2{
  background-image: url('../images/radu2.jpg');
}




/*   FOOTER   */


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
    text-decoration: none;
    color: white;
}

.fa-facebook {
    background: #000;
    color: white;
    border-radius: 50%;
}
.fa-instagram {
    background: #000;
    color: white;
    border-radius: 50%;
}
footer{
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}
footer div div div p{
      font-size: 20px;
}
